node_modules
dist
dist-native
dist-ssr
*.local
.env
.env.*
!.env.example
.DS_Store
.vscode/*
!.vscode/extensions.json
dev-dist

# TS incremental build info
*.tsbuildinfo

# captures de test
scripts/shot-*.png
